body {
    width: 800px;
    margin: auto;
    background-color: #888800;
}

h1 {
    color: #0000CC;
    font-family: Comic Sans MS, cursive;
}

.button
{
    position: relative;
    padding: 10px 40px;
    margin: 0px 10px 10px 0px;
    border-radius: 10px;
    font-family: Comic Sans MS, cursive;
    font-size: 25px;
    color: #FFF;    
}

.blue
{
    background-color: #3498DB;
    border-bottom: 5px solid #2980B9;
    text-shadow: 0px -2px #2980B9;
}

.red
{
    background-color: #E74C3C;
    border-bottom: 5px solid #BD3E31;
    text-shadow: 0px -2px #BD3E31;
}

.green
{
    background-color: #82BF56;
    border-bottom: 5px solid #669644;
    text-shadow: 0px -2px #669644;
}

input{
    width: 300px;
    height: 50px;
    font-size: 30px;
}
